.header {
  &__item {
    border: 1px solid #e24a01;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 15px;
    padding: 15px 20px;
    transition: 0.3s all linear;
    a {
      color: #f9c300;
    }
    &:hover {
      background-color: #f93600;
      a {
        color: #fff;
      }
    }
  }
}
